/* NAVBAR */
nav#header-nav.navbar.navbar-default {
	position: relative;
	padding-bottom: 20px;
}
h1 {
	position: absolute;
	margin-top: 0;
}
button.navbar-toggle.visible-xs {
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 20px;
}
div#collapsable-nav.navbar-collapse.collapse.in {
	margin-top: 15px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: grey;
}
li div a {
	padding-left: 10px;
	font-size: 1.2em;
	color: black;
}
/* END NAVBAR */

/* HOME PAGE */
h2 {
	margin-bottom: 20px;
	font-weight: bold;
}
#box {
	background-color: grey;
	margin: 3px;
}
.category-title h3 {
	font-weight: bold;
}

/* END HOME PAGE */

/* RESPONSIVE FRAMEWORk*/
@media (min-width: 768px) {
	.col-sm-6 {
		width: 49%;
	}
	.col-sm-12 {
		width: 99%;
	}
}
@media (min-width: 1200px) {
	.col-md-4 {
		width: 32%;
	}	
}
@media (min-width: 1200px) {
	.col-lg-4 {
		width: 32%;
	}	
	.col-lg-4 {
		width: 32%;
	}
}
/* END RESPONSIVE FRAMEWORk*/



